@model BlogPost
@{
	ViewBag.Title = Model.Title ?? "View Post";
	Layout = "_Layout";
}

<h3>@Model.Title</h3>
<div class="d-flex flex-column">
	<hr>
	<span>Created on: @Model.CreatedAt</span>
	<span>Last update on: @Model.LastUpdatedAt</span>
	<hr>
</div>
<article>
	@Model.Content
</article>

<div class="d-flex">
	<a asp-controller="Blog" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-success">Update</a>
	<a asp-controller="Blog" asp-action="Delete" class="btn btn-outline-danger">Delete</a>
</div>