@model BlogPost
@{
	ViewBag.Title = "View Post";
	Layout = "_Layout";
}


<div class="d-flex flex-column gap-3" style="margin-left:20px">

	<h2>@Model.Title</h2>
	<div class="date-wrapper d-flex flex-column small">
		<div>Created on: @Model.CreatedAt</div>
		<div>Last update on: @Model.LastUpdatedAt</div>
	</div>
	<article>
		@Model.Content
	</article>

	<div class="d-flex gap-3">
		<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">&larr; Back</a>
		<a asp-controller="Blog" asp-action="AddOrEdit" asp-route-id="@Model.Id" class="btn btn-outline-success">Update</a>
		<a asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
	</div>
</div>