@model IList<BlogPost>
@{
	ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center gap-3">
	<h1 class="header-title">Amazing Blog</h1>
	<a
		asp-controller="Blog"
		asp-action="AddOrEdit"
		asp-route-id="0"
		class="btn btn-outline-primary">
		<h4 class="m-0">Create new post</h4>
	</a>

	<div id="all-posts-wrapper">
		@{
			if (Model.Any())
			{
				<ul id="post-list">
					@foreach (var post in Model)
					{
						<li class="list-post-item-wrapper">
							<a
								class="fs-5 list-post-item"
								asp-controller="Blog"
								asp-action="Index"
								asp-route-id="@post.Id">
								<div class="container pt-1 pb-1">
									<div class="row">
										<div class="col-5 fw-bold fs-4">@post.Title</div>
										<div class="col-3 fs-6 fst-italic">Created: @post.CreatedAt.ToShortDateString()</div>
										<div class="col-4 fs-6 fst-italic">Last updated: @post.LastUpdatedAt.ToShortDateString()</div>
									</div>
									<div class="row">

										<div class="col fs-6"> @post.ShortenedContent()</div>
									</div>
								</div>
							</a>
						</li>
					}
				</ul>
			}
			else
			{
				<div class="small">
					<em>It feels empty in here...</em>
				</div>
			}
		}

	</div>


</div>