@model JobSearch.ViewModels.JobViewModel

@{
	ViewBag.Title = ViewBag.IsEditing ? "Editing" : "Adding";
	Layout = "_Layout";
}

@if (ViewBag.IsEditing)
{
	<a
		class="btn btn-outline-info"
		asp-controller="Job"
		asp-action="Index"
		asp-route-id="@Model.JobId">
		← Back
	</a>
	<h2>Editing Job</h2>
}
else
{
	<a
		class="btn btn-outline-info"
		asp-controller="Job"
		asp-action="List">
		← Back
	</a>
	<h2>Adding New Job</h2>
}

<div class="container">
	<form asp-action="AddEdit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<div class="col-4">
				<fieldset class="border border-2 rounded-2 p-4">
					<legend class="float-none w-auto p-2">Pay Information</legend>
					<input type="hidden" asp-for="JobId"/>
					<div class="d-flex gap-3">
						<div class="form-check">
							<input
								asp-for="PayType"
								value="Annual"
								class="form-check-input"
								type="radio"
								name="payType"
								id="annualPay">
							<label class="form-check-label" for="annualPay">
								Annual
							</label>
						</div>
						<div class="form-check">
							<input
								asp-for="PayType"
								value="Hourly"
								class="form-check-input"
								type="radio"
								name="payType"
								id="hourlyPay">
							<label class="form-check-label" for="hourlyPay">
								Hourly
							</label>
						</div>
					</div>


					<div class="form-group">
						<label asp-for="MinSalary"></label>
						<input class="form-control" type="number" asp-for="MinSalary"/>
						<span asp-validation-for="MinSalary" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="MaxSalary"></label>
						<input class="form-control" type="number" asp-for="MaxSalary"/>
						<span asp-validation-for="MaxSalary" class="text-danger"></span>
					</div>
				</fieldset>
			</div>

			<div class="col-6">
				<fieldset class="border border-2 rounded-2 p-4">
					<legend class="float-none w-auto p-2">Details</legend>
					<div class="form-group">
						<label asp-for="Title"></label>
						<input class="form-control" type="text" asp-for="Title"/>
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Employer"></label>
						<input class="form-control" type="text" asp-for="Employer"/>
						<span asp-validation-for="Employer" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="City"></label>
						<input class="form-control" type="text" asp-for="City"/>
						<span asp-validation-for="City" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="State"></label>
						<input class="form-control" type="text" asp-for="State"/>
						<span asp-validation-for="State" class="text-danger"></span>
					</div>
					<div class="d-flex gap-2">
						<div class="form-group">
							<label asp-for="JobTypeId"></label>
							<select asp-for="JobTypeId">
								@foreach (var jobType in @Model.JobTypeOptions!)
								{
									<option
										selected="@jobType.Id==@Model.JobTypeId"
										value="@jobType.Id">
										@jobType.Type
									</option>
								}
							</select>
							<span asp-validation-for="JobTypeId" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="WorkModeId"></label>
							<select asp-for="WorkModeId">
								@foreach (var workMode in @Model.WorkModeOptions!)
								{
									<option
										selected="@workMode.Id==@Model.WorkModeId"
										value="@workMode.Id">
										@workMode.Mode
									</option>
								}
							</select>
							<span asp-validation-for="WorkModeId" class="text-danger"></span>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<fieldset class="border border-2 rounded-2 p-2">
				<legend class="float-none w-auto p-2">Description</legend>
				<div class="form-group">
					<textarea class="form-control" asp-for="Description"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</fieldset>
		</div>

		<button type="submit" class="btn btn-outline-success">Submit</button>
	</form>
</div>