@model JobSearch.ViewModels.JobViewModel

@{
	ViewBag.Title = ViewBag.IsEditing ? "Editing" : "Adding";
	Layout = "_Layout";
}

@if (ViewBag.IsEditing)
{
	<a
		class="btn btn-outline-info"
		asp-controller="Job"
		asp-action="Index"
		asp-route-id="@Model.JobId">
		← Back
	</a>
	<h2>Editing Job</h2>
}
else
{
	<a
		class="btn btn-outline-info"
		asp-controller="Job"
		asp-action="List">
		← Back
	</a>
	<h2>Adding New Job</h2>
}

<form asp-action="AddEdit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Title"></label>
		<input class="form-control" type="text" asp-for="Title"/>
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Employer"></label>
		<input class="form-control" type="text" asp-for="Employer"/>
		<span asp-validation-for="Employer" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Location"></label>
		<input class="form-control" type="text" asp-for="Location"/>
		<span asp-validation-for="Location" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="JobTypeId"></label>
		<select asp-for="JobTypeId">
			@foreach (var jobType in @Model.JobTypeOptions)
			{
				<option
					selected="@jobType.Id==@Model.JobTypeId"
					value="@jobType.Id">
					@jobType.Type
				</option>
			}
		</select>
		<span asp-validation-for="JobTypeId" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="WorkModeId"></label>
		<select asp-for="WorkModeId">
			@foreach (var workMode in @Model.WorkModeOptions)
			{
				<option
					selected="@workMode.Id==@Model.WorkModeId"
					value="@workMode.Id">
					@workMode.Mode
				</option>
			}
		</select>
		<span asp-validation-for="WorkModeId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-outline-success">Submit</button>
</form>